@import "./global.scss";

.caseStudyContainer {
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-column-gap: $baseUnit * 6;
  grid-template-rows: repeat(3, auto);
  // grid-auto-flow: row;

  
  
}

img {
    grid-column: 1 / 9;
  }


aside {
  grid-column: 1 / 3;
}

main {
  grid-column: 4 / 9;
}