@import "./global.scss";

.caseStudies {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.caseStudyPreview {
  position: relative;
  background: #ffffff;
  width: 33%;
  margin-right: 24px;
  text-align: left;
  min-height: 424px; 

  &:last-child {
    margin-right: 0px;
  }

  &::before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: $baseUnit*2;
    top: 0px;
    left: 0px;
    background-color: $purp;
    z-index: 100;
  }

  img {
    width: 100%;
  }

  &>.readMore {
    font-family: $sansStack;
    font-size: $bodyFontSize;
    line-height: $baseUnit*7;
    text-transform: uppercase;
    color: $copy;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    bottom: $baseUnit*2;
    right: $baseUnit*4;
    margin: 0px;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover>.readMore {
    opacity: 1;
  }
  
}

h2.cardTitle {
  font-weight: 500;
  margin: $baseUnit*4 $baseUnit*4 0px $baseUnit*4;
}

.cardIntro {
  color: $copy;
  letter-spacing: -0.19px;
  margin: 0px $baseUnit*4 0px $baseUnit*4;
}

