$darkblue: #171e41;
$green: #7cd1a0;
$purp: #a33d85;
$offwhite:#b9bbc6;
$white: #ffffff;
$copy: #3a4455;
$background: #f0ede9;
$sansStack: "Fira Sans", sans-serif;
$serifStack: "Lora", serif;
$baseUnit: 4px;
$bodyFontSize: 18px;
$bodyLineHeight: 28px; 
$transition: all 0.3s ease-in-out;

html, body {
  font-size: $bodyFontSize;
  line-height: $bodyLineHeight;
  margin: 0;
  background-color: $background;
}

h1, h2, h3, h4 {
  font-family: $sansStack;
  color: $darkblue;
  
}

h1 {
  font-size: 2.45em;
  font-weight: 700;
  line-height: $bodyLineHeight*2;
  margin: 0 0 $baseUnit*3 0;
}

h2 {
  font-size: 1.95em;
  font-weight: 400;
  line-height: $baseUnit*11;
  margin: 0 0 $baseUnit*6 0;
}

h3 {
font-size: 1.56em;
line-height: $baseUnit*9;
}

h4 {
  font-size: 1.25em;
  line-height: $baseUnit*8;
  font-weight: 400;
}

h6 {
  font-size: 1em;
  font-family: $sansStack;
  color: $copy;
  font-weight: 400;
}

p {
  font-family: $serifStack;
  margin: 0 0 $bodyLineHeight 0;
  color: $copy;
}

.page-content-outer {
  margin: 0 24px 24px 24px;
}
