html { font-size: 100% }

// Typescale - major 3rd

$int: 1.25;
$scale0: 1rem; //body text
$scale-1: $scale0 / $int;
$scale1: $scale0 * $int; //h4
$scale2: $scale1 * $int; //h3
$scale3: $scale2 * $int; //h2
$scale4: $scale3 * $int; //h1

$darkblue: #171e41;
$green: #7cd1a0;
$purp: #a33d85;
$yellow: #FDAA3D;
$magenta: #ED167F;
$blue: #464DFB;
$offwhite:#b9bbc6;
$white: #ffffff;
$copy: #3a4455;
$background: #f0ede9;
$sansStack: "Fira Sans", sans-serif;
$serifStack: "Merriweather", serif;
$baseUnit: 4px;
$bodyFontSize: $scale0;
// $bodyLineHeight: 28px; 
$transition: all 0.3s ease-in-out;


body {
  margin: 0;
  background-color: $background;
  line-height: $baseUnit * 7;
}

h1, h2, h3, h4 {
  font-family: $sansStack;
  color: $darkblue;
  margin: 0;
  
}

h1 {
  font-size: $scale4;
  font-weight: 700;
  line-height: $baseUnit * 12;
  // margin: 0 0 $baseUnit*3 0;
  margin: 0;
}

h2 {
  font-size: $scale3;
  font-weight: 400;
  line-height: $baseUnit*10;
  // margin: 0 0 $baseUnit*6 0;
}

h3 {
font-size: $scale2;
line-height: $baseUnit*8;
}

h4 {
  font-size: $scale1;
  line-height: $baseUnit*7;
  font-weight: 400;
}

// h6 {
//   font-size: 1em;
//   font-family: $sansStack;
//   color: $copy;
//   font-weight: 400;
// }

p {
  font-size: $scale0;
  font-family: $serifStack;
  margin: 0 0 $scale2 0;
  color: $copy;
}

.page-content-outer {
  margin: 0;
}
