@import "./global.scss";


.sectionOne {
  height: calc(100vh - #{$baseUnit}*21);
  width: 100%;
  background-color: $darkblue;
  
  display: grid;
  grid-template-columns: 1fr 1fr;

  .left{
    background-image: url("/assets/homepage_image.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    // margin-bottom: -$baseUnit*16;
  }

  .right {
    display: flex;
    align-items: center;

    h1 {
      color: $green;
      font-weight:500;
      margin-left: $baseUnit * 21;

      span {
        color:$purp;
      }
    }
  }
}





