$darkblue: #171e41;
$green: #7cd1a0;
$purp: #a33d85;
$offwhite:#b9bbc6;
$white: #ffffff;
$sansStack: "Fira Sans", sans-serif;
$serifStack: "Lora", serif;
$baseUnit: 4px;
$bodyFontSize: 18px;
$bodyLineHeight: 28px; 

html, body {
  font-size: $bodyFontSize;
  margin: 0;
}

h1 {
  font-family: $sansStack;
  font-size: 2.45em;
  font-weight: 700;
  line-height: 1.25;
  color: $darkblue;
  margin: 0;
  display: inline-block;
}


.topNav {
  background-color: $darkblue;
  margin: 24px 24px 24px 24px;
  height: 84px;
  padding: 0 84px 0 84px;
  font-family: $sansStack;
  font-weight: 500;
  line-height: ($bodyLineHeight * 3) - 2px;
  letter-spacing: 0.05em;
  display: flex;
  justify-content: space-between;
  
    a {
      text-decoration: none;
      color: $offwhite; 
      
      &:hover {
        color: $white;
      }

      &.active{
      color: $green;
      }
    }

    
    
  
    .homeLink {
      width: 84px;
      font-size: $bodyFontSize * 1.33;
      border-left: 1px solid $green;
      border-right: 1px solid $green;
      text-align: center;
      padding-top: 2px; 
    }

    .menu ul {
      display: flex;
      list-style: none;
      margin: 0;

      li {
        
        margin: 0 24px 0 24px;
        padding-top: 2px;
        display: flex;

        &:last-child {
          margin-right: 0;
        }

        a {
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          max-height: 82px;
          // line-height: ($bodyLineHeight * 3) - 2px;

          &.active { 
            border-bottom: 4px solid $green;
          }
        }
      }
    }
}

// .page-content {
//   margin: 0 auto;
//   max-width: 1024px;
//   background: $offwhite;
// }

.page-content-outer {
  margin: 0 24px 24px 24px;
  height: calc(100vh - 156px);
  background: $offwhite;
 

  h1 {
    color: $darkblue;
  }
}
